.matchCard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    background-color: rgb(84, 84, 84);
    border-radius: 8px;
}

.textStats {
    color: rgb(210, 210, 210);
    /* margin: 4px; */
    padding: 8px;
}
.teamColor {
    color: '';
}

.mapImageSection1 {
    width: 50%;
}

.matchImage {
    width: 90%;
    margin: 2%;
}

.section2 {
    width: 50%;
}

.playerStatsBanner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.matchStats {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.matchStatsScore {
   margin: 12px;
}

.redText {
    color: red;
}
.blueText {
    color: blue;
}

/* HALO MATCH RESULTS STYLING ////////////////////////////////////////// */

.matchCardContainer { 
  width: 100%;
}

.matchCardResults {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .1rem;
    padding: 5px;
    background-color: rgb(84, 84, 84);
    border-radius: 8px;
}

.redTeam {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #282c34;
    background-image: linear-gradient(to right,rgba(255,0,0,1), rgba(255,0,0,0), rgba(255,0,0,0), rgba(255,0,0,0));
    border: 1px solid black;
    width: 100%;
}

.blueTeam {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #282c34;
    background-image: linear-gradient(to right,rgba(0,0,255,1), rgba(255,0,0,0), rgba(255,0,0,0), rgba(255,0,0,0));
    border: 1px solid black;
    width: 100%;
}
/* ////////////////////////////////////////////////// */


@media only screen and (max-width: 425px) {

    .matchCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        background-color: rgb(84, 84, 84);
        border-radius: 8px;
    }

    .mapImageSection1 {
        width: 100%;
    }

    .section2 {
        width: 100%;
    }
}