.cards {
    display: flex;
}

.cardPlayerPeak {
    border: 3px solid black;
    background-color: rgb(64, 64, 64);
    border-radius: 8px;
    width: 30%;
    margin: 0 1%;
}

.peakImage {
    padding: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.cardPlayer {
    width: 70%;
    border: 3px solid black;
    background-color: rgb(64, 64, 64);
    margin: 0 1%;
    height: 100vh;
    border-radius: 8px;
}

.gamertagContainer {
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
    border-bottom: 3px solid black;
    border-radius: 5px 5px 0 0;
    background-color: rgb(64, 64, 64);
}

.rankText {
    margin: 4px 0;
    color: white;
    padding: 0 5%;
}

.peakText {
    color: white;
    padding: 0 10%;
}

.infoContainer {
    justify-content: space-between;
    border-bottom: 2px solid black;
    align-items: center;
    margin: 0;
}

.infoTextGroup {
    margin: 4px 0;
    color: white;
    padding: 0 10%;
}

.tierCardImage {
    width: 68px;
}

.infoText {
    margin: 4px;
}

.statsContainerRank {
    display: flex;
    padding: 12px;
    align-items: center;
}

.statsContainer {
    display: flex;
    justify-content: space-evenly;
    padding: 4px 0;
}

.statMain {
    display: flex;
    flex-direction: column;
    background-color: rgb(84, 84, 84);
    border-radius: 5px;
    width: 22%;
    padding: 3px 0;
    margin: 0;
}

.stat {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 23%;
    margin: 0 5px;
}

.stat:hover {
    background-color: rgb(84, 84, 84);
    cursor: pointer;
}

.textStats {
    color: rgb(210, 210, 210);
    margin: 4px;
}

.textStatsBold {
    color: white;
    font-weight: bold;
}

h6 {
    margin: 12px 0;
}

.h5A {
    color: white;
    margin-top: -15px;
}

.h5B {
    color: white;
    margin-top: -15px;
}

/*////////////////// SEARCH BAR ///////////////////////////////////////*/

.Searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchtext {
    color: white;
    padding: 8px 0 8px 0;
}

.Input {
    margin: 20px;
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
    height: 15px;
}

/* //////////RESPONSIVE ////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////// */
@media only screen and (max-width: 425px) {
    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cardPlayerPeak {
        border: 3px solid black;
        background-color: rgb(64, 64, 64);
        border-radius: 8px;
        width: 90%;
        margin: 2% 1%;
    }

    .peakImage {
        padding: 0 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
    }

    .cardPlayer {
        width: 90%;
        border: 3px solid black;
        background-color: rgb(64, 64, 64);
        margin: 0 1%;
        height: auto;
        border-radius: 8px;
    }

    .statsContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .statMain {
        display: flex;
        flex-direction: column;
        background-color: rgb(84, 84, 84);
        border-radius: 5px;
        width: 90%;
        margin: 4px;
    }
    
    .stat {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        width: 90%;
        margin: 4px 5px;
    }



    /*////////////////// SEARCH BAR ///////////////////////////////////////*/

    .Searchbar {
        display: flex;
        flex-direction: column;
    }

    .searchtext {
        color: white;
        padding: 0;
        margin-top: 12px;
        margin-bottom: 0;
    }

    .Input {
        margin: 20px;
        padding: 12px;
        border: 1px solid black;
        border-radius: 5px;
        height: 15px;
    }

}