h2 {
  padding-right: 12px;
}

/* .Banner{
    width: 75px;
    height: auto; 
    border: 2px solid black;
  } */


.TierHolder {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  .TierHolder {
    display: flex;
    flex-wrap: wrap;
  }
}

.Tier {
  /* display: flex; */
  /* flex-direction: column; */
  flex-wrap: wrap;
  width: 75px;
  /* height: auto; */
  border: 2px solid black;
  margin: 4px;
  background: white;
}

.Tier2 {
  flex-wrap: wrap;
  width: 75px;
  margin: 4px;
}