.App {
  text-align: center;
  background-color: #282c34;
  /* height: 100vh; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* HALO 5 API STYLING VARIOUS COMPONENTS /////////////////////// */

.homeImage {
  background-repeat: no-repeat;
  background-size: contain;
  height: 65vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url('./api-halo5.jpg');
}

.SearchbarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}


.SearchbarContainer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

.inputContainer {
  display: flex;
  align-items: center;
}


.buttonSearch {
  border: none;
  margin-left: 4%;
  border-radius: 4px;
  background-color: white;
  color: black;
  padding: 10px;
  width: 128px;
  font-weight: bold;
  cursor: pointer;
}

.buttonSearch:hover {
  background-color: rgb(197, 168, 1);
  color: white;
}

.btnAppLocat {
  padding: 10px;
  width: 128px;
}

@media only screen and (max-width: 425px) {

  .homeImage{
    background-repeat: no-repeat;
    background-size: auto;
    /* height: auto; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('./api-halo5.jpg');
     
  }

  .SearchbarContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6px;
  }

  .SearchbarContainer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
  }

  .inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .buttonSearch {
    border: none;
    margin-left: 1%;
    border-radius: 4px;
    background-color: white;
    color: black;
    padding: 10px;
    width: 100px;
    font-weight: bold;
    cursor: pointer;
  }
}